::selection {
  color: #fff;
  background: #664aff;
}

.search-input input {
  height: 55px;

  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input.active input {
  border-radius: 5px 5px 0 0;
}

.search-input .autocom-box {
  padding: 0;
  overflow: auto;
  width: 22rem;
  max-height: 280px;
}

.search-input.active .autocom-box {
  padding: 10px 8px;
}

.autocom-box li {
  list-style: none;

  color: red;

  cursor: default;
  border-radius: 3px;
}

.autocom-box li:hover {
  background: #efefef;
}

.search-input .icon {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
}
