.autocom-box {
  padding: 0;
  overflow-y: scroll;
  max-height: 12rem;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.autocom-box::-webkit-scrollbar {
  display: none;
}
.autocom-box li {
  list-style: none;
  font-size: 1.2rem;
  text-align: center;
  cursor: default;
  border-radius: 1rem;
}

.autocom-box li:hover {
  background: #23272b;
}
.selected {
  background: #23272b;
}
/* .search-input .icon {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
} */
